{% extends "index/base.html" %}


{% block content %}
<h2>Área para miembros</h2>
<p>
    Bienvenido <b>{{request.user.username}}</b>,
    esta página es exclusiva para usuarios registrados.
    <hr>

<nav class="navbar navbar-light bg-info text-center rounded">
    <a type="button" class="navbar-brand btn text-white" href="/servicio_list">Servicios</a>
    <a type="button" class="navbar-brand btn text-white" href="/empleado_list">Empleados</a>
    <a type="button" class="navbar-brand btn text-white" href="/cliente_list">Clientes</a>
    <a type="button" class="navbar-brand btn text-white" href="/cita_list">Citas</a>
</nav>
</p>

<hr />
<a href="/logout" class="btn btn-danger">Cerrar sesión</a>
{% endblock content %}